include pywal/templates/*
include pywal/backends/*
include pywal/scripts/*
include pywal/colorschemes16/*
include pywal/colorschemes16/light/*
include pywal/colorschemes16/dark/*
include tests/*
include tests/test_files/*
include .pylintrc
include README.md
include LICENSE.md
